# Конфигурация tac_plus-ng с подробным логированием

# Глобальные настройки отладки - максимальный уровень
debug = ALL

id = spawnd {
    listen {
        address = ::
        port = 49
    }
}

id = tac_plus-ng {
    mavis module = external {
        setenv DATABASE_URL = postgresql://admin_pg:supersecret@database:5432/tacacs_db
        setenv PGSCHEMA = tacacs
        exec = /usr/local/bin/mavis_tacplus_totp.py
    }
    login backend = mavis

    # --- ЛОГИРОВАНИЕ ---
    
    # Единый лог-файл для всех событий
    log main_log { destination = /var/log/tac_plus-ng/tac_plus-ng.log }

    # Привязываем все типы логов к одному файлу
    authentication log = main_log
    authorization log = main_log
    accounting log = main_log

    # --- ПРОФИЛЬ ---
    include = /etc/tac_plus-ng/profiles

    # --- УСТРОЙСТВО ---
    include = /etc/tac_plus-ng/devices

    device default {
        address = 0.0.0.0/0
        address = ::/0
        key = testing123
    }

    # --- ГРУППА ПОЛЬЗОВАТЕЛЕЙ ---
    group ro{}
    group rw{}

    include = /etc/tac_plus-ng/user_groups

    # --- ПОЛЬЗОВАТЕЛЬ ---
    include = /etc/tac_plus-ng/users

    # --- RULESET ---
    include = /etc/tac_plus-ng/ruleset
}
